<% provide(:class_text, 'message-edit') %>
<% provide(:button_text, '更新する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title mx-auto">【メッセージの更新】</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 bg-dark rounded p-2">
          <div class="m-auto text-right">
            <div class="m-2"><%= link_to "削除する", user_message_path(@user, @message), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger text-right m-2" %></div>
          </div>
          <% if current_user == send_user(@message) %>
            <%= form_with(model: @message, url: user_message_path, local: true, method: :put) do |f| %>
              
              <%= f.label "To:#{destinate_user(@message).name}", class: "m-1" %>
              <%= f.text_area :text, class: "form-control m-1" %>
            
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)} m-1" %>
            <% end %>
          <% else %>
            <div class="m-1 font-weight-bold">From:<%= send_user(@message).name %></div>
            <div class="m-1"><%= @message.text %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>