<div class="my-3">
  <% if !@message_inbox.blank? %>
    <%= will_paginate @message_inbox, {:param_name => 'inbox_page', :class => 'pagination'} %>
    <%= form_with(model: @message_inbox, url: user_messages_destroys_path(@user), local: true, method: :delete) do |f| %>
      <% @message_inbox.each do |message| %>
        <% sendUser = send_user(message) %>
        <%= f.fields_for "messages[]", message do |msg| %>
          <div class="my-2 bg-light border <%= "border-success" if message.read_at.nil? || message.edited_at > message.read_at %>">
            <div class="d-flex justify-content-between">
              <div class="p-1">
                <% if sendUser.present? %>
                  <div class="row m-1">
                    <%= image_tag sendUser.image.to_s, class: "img-fluid img-thumbnail rounded mx-1", :style => "max-width:60px;" %>
                    <div class="font-weight-bold text-muted mx-1">From: <%= link_to sendUser.name, sendUser, class: "text-reset" %></div>
                  </div>
                <% else %>
                  <div>削除済みユーザ</div>
                <% end %>
              </div>
              <div class="m-1"><%= msg.check_box :permit, :checked => false %></div>
            </div>
            <div class="m-2"><%= simple_format(message.text) %></div>
            <div class="m-2 d-flex justify-content-between font-weight-bold text-muted"><%= message.read_at.nil? || message.edited_at > message.read_at ? "未読" : "既読" %><%= link_to l(message.edited_at, format: :short), edit_user_message_path(@user, message), remote: true, class: "text-reset" %></div>
          </div>
          <% message.read_at = DateTime.now %>
          <% message.save %>
        <% end %>
      <% end %>
    <div class="d-flex justify-content-between">
      <div><%= will_paginate @message_inbox, {:param_name => 'inbox_page', :class => 'pagination'} %></div>
      <div><%= f.submit "まとめて削除する", data: { confirm: "削除してよろしいですか？（取消できません）" }, class: "btn btn-lg btn-danger" %></div>
    </div>
    <% end %>
  <% else %>
    <p class="text-center">受信メッセージがありません</p>
  <% end %>
</div>

<script>
  $(function(){
    $('.pagination a').attr('data-remote', 'true');
    $('.mail_search').attr('data-remote', 'true');
    
    $('.datepicker').datetimepicker({
      format: 'YYYY-MM-DD HH:mm:00'
    });
  });
</script>