<%= form_with(url: user_path(@user), method: :get) do |fo| %>
  <div class="m-auto row justify-content-between align-items-center col-lg">
    <div>
      <%= fo.label "差出人" %><br>
      <%= select_tag :user_id, options_from_collection_for_select(User.where.not(id: @user), :id, :name), include_blank: true, class: "form-control searchable" %>
    </div>
    <div>
      <%= fo.label "From"%>
      <div class="input-group" data-target-input="nearest">
        <%= fo.text_field :from, id: "from_time_in", class: "form-control datepicker", data: {target: "#from_time_in"} %>
        <div class="input-group-append" data-target="#from_time_in" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
    </div>
    <div>～</div>
    <div>
      <%= fo.label "To" %>
      <div class="input-group" data-target-input="nearest">
        <%= fo.text_field :to, id: "to_time_in", class: "form-control datepicker", data: {target: "#to_time_in"} %>
        <div class="input-group-append" data-target="#to_time_in" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
    </div>
  </div>
  <%= fo.label "本文" %>
  <%= fo.text_field :text, class: "form-control" %>
  <%= fo.hidden_field :inbox, value: 'inbox_search' %>
  <%= fo.submit "検索する", class: "btn btn-primary btn-block my-2 mail_search" %>
<% end %>

<script>
  $('.searchable').select2();
</script>