<% provide(:class_text, 'message-edit') %>
<% provide(:button_text, '更新する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title mx-auto">【参加者追加】</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 bg-dark rounded p-2">
          <% if master?(@tournament) #開催者用追加フォーム %>
            <%= form_with(model: @participant, url: tournament_participants_path(@tournament), method: :post) do |f| %>
              <%= f.label '参加者追加' %>
              <%= select_tag :players, options_from_collection_for_select(@not_yet_users, :id, :name), include_blank: true, multiple: true, class: "form-control searchable" %>
              <%= f.submit "参加者追加", class: "btn btn-primary btn-block btn-login" %>
            <% end %>
          <% else #参加者用追加フォーム %>
            <% unless Participant.find_by(tournament_id: @tournament.id, user_id: current_user.id) %>
              <%= form_with(model: @participant, url: tournament_participants_path(@tournament), method: :post) do |f| %>
                <%= hidden_field_tag :players, current_user.id %>
                <%= f.submit "この大会に参加する", data: { confirm: "大会に参加しますか？" }, class: "btn btn-primary btn-block btn-login" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.searchable').val(<%= return_user_id_from_participant(@participants) %>);
    $('.searchable').trigger('change');
    $('.searchable').select2();
  });
</script>