<div class="col-xl-10 offset-xl-1 col-12">
  <% if @character %>
    <div class="mt-2">
      <span><%= @character.game_title %></span>
    </div>
    <div class="row justify-content-around">
      <div class="col-md-4 my-2 bg-dark">
        <span>メインキャラクター</span><br>
        <div class="my-1">
          <div class="col-8 offset-2 text-center" style="max-height:170px;">
            <%= image_tag "/Character/#{characterimage_from_character(@character.main_character)}.png", class: "rounded img-thumbnail my-2 img-fluid", :style => "max-height:150px;" %>
          </div>
        </div>
      </div>
      <div class="col-md-7 my-2 bg-dark">
        <span>サブキャラクター</span><br>
        <div class="my-1">
          <div class="row justify-content-around">
            <% if @character.sub_character1 %>
              <div class="col-4 text-center" style="max-height:140px;">
                <%= image_tag "/Character/#{characterimage_from_character(@character.sub_character1)}.png", class: "rounded img-thumbnail my-2 img-fluid", :style => "max-height:120px;" %>
              </div>
            <% else %>
              <div class="text-center m-auto">
                登録されているキャラクターはありません。
              </div>
            <% end %>
            <% if @character.sub_character2 %>
              <div class="col-4 text-center" style="max-height:140px;">
                <%= image_tag "/Character/#{characterimage_from_character(@character.sub_character2)}.png", class: "rounded img-thumbnail my-2 img-fluid", :style => "max-height:120px;" %>
              </div>
            <% end %>
            <% if @character.sub_character3 %>
              <div class="col-4 text-center" style="max-height:140px;">
                <%= image_tag "/Character/#{characterimage_from_character(@character.sub_character3)}.png", class: "rounded img-thumbnail my-2 img-fluid", :style => "max-height:120px;" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <p class="text-right"><%= link_to "大乱闘スマッシュブラザーズSPECIAL", 'https://www.smashbros.com/ja_JP/fighter/index.html', target: :_blank %>より引用</p>
  <% else %>
    <div class="text-center m-2">
      登録されているキャラクターはありません。
    </div>
  <% end %>
</div>
