<% provide(:title, 'ユーザ一覧') %>
<% if params[:search].blank? %>
  <h1>ユーザー一覧</h1>
<% else %>
  <h1>検索結果</h1>
<% end %>

<div class="d-flex flex-column align-items-end my-2">
  <p>ユーザ検索</p>
  <%= form_tag(users_path, :method => 'get') do %>
  <div class="d-flex flex-row">
    <%= text_field_tag :search, nil, class: "form-control" %>
    <%= submit_tag '検索', :name => nil, :class => 'btn btn-primary' %>
  </div>
  <% end %>
</div>

<div class="table-responsive">
  <%= will_paginate %>
  <table class="table text-nowrap table-hover" id="table-users">
    <thead>
      <tr>
        <th style="width:25%;"><%= User.human_attribute_name :name %></th>
        <th style="width:65%;"><%= User.human_attribute_name :description %></th>
        <th style="width:10%;"></th>
      </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="width:25%;">
          <div class="flex-column align-self-start p-1">
            <div><%= image_tag user.image.to_s, class: "img-fluid img-thumbnail rounded my-1", :style => "width: 100%; max-width: 100px; min-width: 60px" %></div>
            <div><%= link_to user.name, user, class: "text-reset font-weight-bold text-nowrap my-1" %></div>
          </div>
        </td>
        <td class="text-truncate"><%= user.description %></td>
        <td style="width:10%;">
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
