<% provide(:title, 'ユーザ一覧') %>
<% if params[:search].blank? %>
  <h1>ユーザー一覧</h1>
<% else %>
  <h1>検索結果</h1>
<% end %>

<div class="col-lg-10 offset-lg-1 table-responsive">
  <div class="text-right">
    <p>ユーザ検索</p>
    <%= form_tag(users_path, :method => 'get') do %>
      <%= text_field_tag :search %>
      <%= submit_tag '検索', :name => nil, :class => 'btn btn-primary' %>
    <% end %>
  </div>
  <%= will_paginate %>
  <table class="table text-nowrap table-hover" id="table-users">
    <thead>
      <tr>
        <th style="width:30%;"><%= User.human_attribute_name :name %></th>
        <th style="width:60%;"><%= User.human_attribute_name :description %></th>
        <th style="width:10%;"></th>
      </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="width:30%;">
          <div class="row align-items-center p-1">
            <%= image_tag user.image.to_s, class: "img-fluid img-thumbnail rounded m-1", :style => "max-width:100px;" %>
            <%= link_to user.name, user, class: "text-reset font-weight-bold text-wrap m-1" %>
          </div>
        </td>
        <td style="width:60%;"><p class="d-inline-block text-truncate" style="max-width:540px"><%= user.description %></p></td>
        <td style="width:10%;">
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
