<% provide(:title, @user.name) %>

<div class="title">
  <% if current_user?(@user) && !current_user.admin? %>
  【マイページ】
  <% else %>
  【<%= @user.name %>】
  <% end %>
</div>

<% if current_user?(@user) && !current_user.admin? %>
<div class="row justify-content-around mb-3">
  <%= link_to "新しく大会を作る", new_tournament_path, class: "btn btn-success m-1" %>
  <%= link_to "俺より強い奴に会いに行く", tournaments_path, class: "btn btn-primary m-1" %>
</div>
<% end %>
<!-- ピル部分 -->
<ul class="nav nav-tabs nav-fill" id="tabs-tab" role="tablist">
  <% if !@user.admin? %>
  <li class="nav-item active">
    <%= link_to "ホーム", "#tabs-home", id: "tabs-home-tab", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-home", "aria-selected" => "true", class: "nav-link text-reset font-weight-bold" %>
  </li>
  <li class="nav-item">
    <%= link_to "使用キャラ", "#tabs-profile", id: "tabs-profile-tab", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-profile", class: "nav-link text-reset font-weight-bold" %>
  </li>
  <li class="nav-item">
    <%= link_to "戦績", "#tabs-result", id: "tabs-result-tab", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-result", class: "nav-link text-reset font-weight-bold" %>
  </li>
  <% end %>
  <li class="nav-item">
    <%= link_to "コンタクト", "#tabs-contact", id: "tabs-contact-tab", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-contact", class: "nav-link text-reset font-weight-bold" %>
  </li>
  <% if (current_user?(@user) || current_user.admin?) && !@user.admin? %>
  <li class="nav-item active dropdown">
    <a href="#" class="nav-link dropdown-toggle text-reset font-weight-bold" id="userpageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      編集
    </a>
    <div class="dropdown-menu" aria-labelledby="userpageDropdown">
      <%= link_to "設定", edit_user_path(@user), remote: true, class: "dropdown-item font-weight-bold" %>
      <%= link_to "キャラ設定", user_characters_edit_path(@user), remote: true, class: "dropdown-item font-weight-bold" %>
    </div>
  </li>
  <% end %>
</ul>

<!-- パネル部分 -->
<div class="tab-content" id="pills-tabContent">
  <% if !@user.admin? %>
  <div class="tab-pane fade" id="tabs-home" role="tabpanel" aria-labelledby="tabs-home-tab">
    <div class="col-md-10 offset-md-1">
      <div class="d-flex align-self-start">
        <div class="m-3">
          <%= image_tag @user.image.to_s, class: "img-fluid img-thumbnail rounded", :style => "width:100px; max-width:100%; min-width:60%;" %>
        </div>
        <div class="m-3 font-weight-bold">
          <%= @user.name %>
          <%= render 'contact' %>
        </div>
      </div>
      <div class="m-3">
        <% unless @user.description.blank? %>
          自己紹介<br><%= @user.description %>
        <% else %>
          <div class="text-center">
            自己紹介文がありません。
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="tab-pane fade" id="tabs-profile" role="tabpanel" aria-labelledby="tabs-profile-tab">
    <ul class="nav nav-tabs nav-fill" id="tabs-title" role="tablist">
      <li class="nav-item">
        <%= link_to "64", user_title_character_path(user_id: @user, game_title: '0'), remote: true, id: "tabs-title-64", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-title-64", class: "nav-link text-reset font-weight-bold" %>
      </li>
      <li class="nav-item">
        <%= link_to "DX", user_title_character_path(user_id: @user, game_title: '1'), remote: true, id: "tabs-title-DX", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-title-DX", class: "nav-link text-reset font-weight-bold" %>
      </li>
      <li class="nav-item">
        <%= link_to "X", user_title_character_path(user_id: @user, game_title: '2'), remote: true, id: "tabs-title-X", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-title-X", class: "nav-link text-reset font-weight-bold" %>
      </li>
      <li class="nav-item">
        <%= link_to "3DS", user_title_character_path(user_id: @user, game_title: '3'), remote: true, id: "tabs-title-3DS", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-title-3DS", class: "nav-link text-reset font-weight-bold" %>
      </li>
      <li class="nav-item">
        <%= link_to "Wii U", user_title_character_path(user_id: @user, game_title: '4'), remote: true, id: "tabs-title-WiiU", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-title-WiiU", class: "nav-link text-reset font-weight-bold" %>
      </li>
      <li class="nav-item">
        <%= link_to "SP", user_title_character_path(user_id: @user, game_title: '5'), remote: true, id: "tabs-title-SP", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-title-SP", class: "nav-link text-reset font-weight-bold" %>
      </li>
    </ul>
    
    <div id="title-character"></div>
  </div>
  <div class="tab-pane fade" id="tabs-result" role="tabpanel" aria-labelledby="tabs-result-tab">
    <% if !@tournaments.blank? %>
      <p class="my-2">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          検索オプション
        </button>
      </p>
      <div class="collapse p-2 bg-light border my-2" id="collapseExample">
        <%= form_with(url: user_path(@user), method: :get) do |fo| %>
          <%= fo.hidden_field :tournaments, value: "tournaments_search" %>
          <div class="m-auto row justify-content-between align-items-center">
            <div class="col-md-5">
              <%= fo.label Tournament.human_attribute_name :name %>
              <%= fo.text_field :name, placeholder: "空白で全て検索", class: "form-control" %>
            </div>
            <div class="col-md-7">
              <%= fo.label Tournament.human_attribute_name :game_title %>
              <%= fo.select :game_title, Tournament.game_titles.keys.to_a, {prompt: "全タイトル"}, class: "form-control" %>
            </div>
            <div class="col-lg-8 col-sm-8">
              <%= fo.label Tournament.human_attribute_name :user_id %><br>
              <%= select_tag :user_id, options_from_collection_for_select(User.where(admin: false), :id, :name), include_blank: true, class: "form-control searchable" %>
            </div>
            <div class="col-lg-4 col-sm-4">
              <%= fo.label Tournament.human_attribute_name :status %>
              <%= fo.select :status, Tournament.statuses.keys.to_a, {prompt: "全て"}, class: "form-control" %>
            </div>
            <div class="col-md-5">
              <%= fo.label "From"%>
              <div class="input-group" data-target-input="nearest">
                <%= fo.text_field :from, placeholder: "アイコンで入力", id: "from_time_result", class: "form-control datepicker", data: {target: "#from_time_result"} %>
                <div class="input-group-append" data-target="#from_time_result" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
            <div class="col-md-2 d-none d-md-block text-center">～</div>
            <div class="col-md-5">
              <%= fo.label "To" %>
              <div class="input-group" data-target-input="nearest">
                <%= fo.text_field :to, placeholder: "アイコンで入力", id: "to_time_result", class: "form-control datepicker", data: {target: "#to_time_result"} %>
                <div class="input-group-append" data-target="#to_time_result" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <%= fo.submit "検索する", class: "btn btn-primary btn-block my-3" %>
            </div>
          </div>
        <% end %>
      </div>
    
      <div class="table-responsive-md d-none d-md-block" id="tournaments_search_result"><!-- md以上の画面ではテーブルで表示 -->
        <%= render 'result_search' %>
      </div>
      <div class="d-block d-md-none" id="tournaments_search_result_md"><!-- md未満の画面では専用表示 -->
        <%= render 'result_search_md' %>
      </div>
    <% else %>
      <p class="text-center m-3">
        大会への参加記録がありません
      </p>
    <% end %>
  </div><!-- tabs-result -->
  <% end # !@user.admin? %>
  <div class="tab-pane fade" id="tabs-contact" role="tabpanel" aria-labelledby="tabs-contact-tab">
    <% if current_user?(@user) || current_user.admin? %>
      <ul class="nav nav-tabs nav-fill" id="tabs-box" role="tablist">
        <li class="nav-item">
          <%= link_to "受信箱", "#tabs-inbox", id: "tabs-inbox-tab", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-inbox", "aria-selected" => "true", class: "nav-link text-reset font-weight-bold" %>
        </li>
        <% if current_user?(@user) %>
        <li class="nav-item">
          <%= link_to "作成", "#tabs-create-mail", id: "tabs-inbox-tab", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-inbox", "aria-selected" => "true", class: "nav-link text-reset font-weight-bold" %>
        </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "送信箱", "#tabs-outbox", id: "tabs-outbox-tab", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-outbox", class: "nav-link text-reset font-weight-bold" %>
        </li>
      </ul>
        
      <div class="col-md-10 offset-md-1">
        <div class="tab-content" id="pills-tabContent-box">
          <div class="tab-pane fade" id="tabs-inbox" role="tabpanel" aria-labelledby="tabs-contact-tab">
            <%= render 'messages/search_inbox' %>
            <div id="mails-inbox"></div>
          </div>
          <% if current_user?(@user) %>
          <div class="tab-pane fade" id="tabs-create-mail" role="tabpanel" aria-labelledby="tabs-contact-tab">
            <%= form_with(model: @message, url: user_messages_path(@user), local: true, method: :post) do |f| %>
              <%= hidden_field_tag :path, request.path %>
              <%= f.hidden_field :user_id, value: @user.id %>
              <div class="row">
                <div class="col-md-4 col-sm-6 col-8">
                  <%= f.label "宛先" %>
                  <%= select_tag :user_to, options_from_collection_for_select(User.where.not(id: @user), :id, :name), include_blank: true, class: "form-control search_participants"%>
                </div>
                <div class="col-12">
                  <%= f.label "本文" %>
                  <%= f.text_area :text, class: "form-control" %>
                </div>
                <div class="col-12">
                  <%= f.submit "メッセージを送信する", class: "btn btn-primary btn-block btn-login" %>
                </div>
              </div>
            <% end %>
          </div>
          <% end %>
          <div class="tab-pane fade" id="tabs-outbox" role="tabpanel" aria-labelledby="tabs-contact-tab">
            <%= form_with(url: user_path(@user), method: :get) do |fo| %>
              <div class="row justify-content-between align-items-center">
                <div class="col-sm-5">
                  <%= fo.label "From"%>
                  <div class="input-group" data-target-input="nearest">
                    <%= fo.text_field :from, id: "from_time", class: "form-control datepicker", data: {target: "#from_time"} %>
                    <div class="input-group-append" data-target="#from_time" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2 d-none d-sm-block text-center">～</div>
                <div class="col-sm-5">
                  <%= fo.label "To" %>
                  <div class="input-group" data-target-input="nearest">
                    <%= fo.text_field :to, id: "to_time", class: "form-control datepicker", data: {target: "#to_time"} %>
                    <div class="input-group-append" data-target="#to_time" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <%= fo.label "宛先" %><br>
                  <%= select_tag :user_to, options_from_collection_for_select(User.where.not(id: @user), :id, :name), include_blank: true, class: "form-control searchable" %>
                </div>
                <div class="col-sm-8">
                  <%= fo.label "本文" %>
                  <%= fo.text_field :text, class: "form-control" %>
                </div>
                <div class="col-12">
                  <%= fo.submit "検索する", class: "btn btn-primary btn-block my-2 mail_search" %>
                </div>
              </div>
              <%= fo.hidden_field :outbox, value: 'outbox_search' %>
            <% end %>
            <div id="mails-outbox"></div>
          </div>
        </div>
      </div><!-- col-lg-10 offset-lg-1 -->
    <% else %>
      <div class="container-fluid">    
        <div class="col-lg-10 offset-lg-1">
          <%= form_with(model: @message, url: user_messages_path(current_user), local: true, method: :post) do |f| %>
            <%= hidden_field_tag :path, request.path %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= hidden_field_tag :user_to, @user.id %>

            <%= f.label "本文" %>
            <%= f.text_area :text, class: "form-control" %>
            
            <%= f.submit "メッセージを送信する", class: "btn btn-primary btn-block btn-login" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div><!-- tabs-contact -->
</div>

<div id="character-edit-page" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="user-edit-page" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="message-edit-page" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<script>

$(function(){
  // オブザーバの設定
  const config = { childList: true };
  
  // 対象とするノードを取得
  const inbox = document.getElementById('tabs-inbox');
  // オブザーバインスタンスを作成
  var inbox_observer = new MutationObserver((mutations) => {
    mutations.forEach((mutation) => {
      // 一度監視を中止
      inbox_observer.disconnect();
      $('#mails-inbox').html('<%= escape_javascript( render 'messages/inbox') %>');
      // 監視再開
      inbox_observer.observe(inbox, config);
    });
  });
  
  // 対象ノードとオブザーバの設定を渡す
  inbox_observer.observe(inbox, config);
  
  // 対象とするノードを取得
  const outbox = document.getElementById('tabs-outbox');
  // オブザーバインスタンスを作成
  var outbox_observer = new MutationObserver((mutations) => {
    mutations.forEach((mutation) => {
      // 一度監視を中止
      outbox_observer.disconnect();
      $('#mails-outbox').html('<%= escape_javascript( render 'messages/outbox') %>');
      // 監視再開
      outbox_observer.observe(outbox, config);
    });    
  });
  // 対象ノードとオブザーバの設定を渡す
  outbox_observer.observe(outbox, config);
  
  // オブザーバの設定
  const config_searchable = { attributes: true };
  
  // 対象とするノードを取得
  const searchable = document.getElementById('tabs-box');
  // オブザーバインスタンスを作成
  var searchable_observer = new MutationObserver((mutations) => {
    mutations.forEach((mutation) => {
      // 一度監視を中止
      searchable_observer.disconnect();
      $('.searchable').select2();
      // 監視再開
      searchable_observer.observe(searchable, config_searchable);
    });    
  });
  // 対象ノードとオブザーバの設定を渡す
  searchable_observer.observe(searchable, config_searchable);
  
  $('.pagination a').attr('data-remote', 'true');
  
  $('.datepicker').datetimepicker({
    format: 'YYYY-MM-DD HH:mm:00'
  });
  
  
  var name_count = $("#user_name").text().length;
  //残りの入力できる文字数を計算
  var now_name_count = 20 - name_count;
  //文字数がオーバーしていたら文字色を赤にする
  if (name_count > 20) {
    $("#user_name_count").css("color","red");
  }
  //残りの入力できる文字数を表示
  $("#user_name_count").text( "残り" + now_name_count + "文字");
  
});

</script>