<% provide(:title, @user.name) %>
<div>
  <%= link_to "新しく大会を作る", new_tournament_path, class: "btn btn-lg btn-success" %>
  <%= link_to "大会に参加する", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "使用キャラを登録・更新する", user_characters_edit_path(@user), class: "btn btn-lg btn-primary" %>
  <div>使用キャラ</div>
  
  <div id="character-images">
    <% @characters.each do |character| %>
      <span><%= character.game_title %></span>
      <div class="game-titles">
        <div class="show-character-area-main">
          <span>メインキャラクター</span><br>
          <div class="character-image">
            <%= image_tag "/Character/#{characterimage_from_character(character.main_character)}.png", class: "character-image-main" %>
          </div>
        </div>
        <div class="show-character-area-subs">
          <span>サブキャラクター</span><br>
          <div class="character-image-sub-index">
            <% if character.sub_character1 %>
              <%= image_tag "/Character/#{characterimage_from_character(character.sub_character1)}.png", class: "character-image-sub" %>
            <% end %>
            <% if character.sub_character2 %>
              <%= image_tag "/Character/#{characterimage_from_character(character.sub_character2)}.png", class: "character-image-sub" %>
            <% end %>
            <% if character.sub_character3 %>
              <%= image_tag "/Character/#{characterimage_from_character(character.sub_character3)}.png", class: "character-image-sub" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <%= form_with(model: @user, url: user_send_dm_path(@user), local: true, method: :post) do |f| %>
    <%= f.label "DM送信" %>
    <%= f.text_field :text, class: "form-control" %>
    
    <%= f.submit "このユーザにDMを送る", class: "btn btn-primary btn-block btn-login" %>
  <% end %>
</div>

<script>
</script>