<% provide(:title, @user.name) %>
<div>
  <h1>【<%= @user.name %>】</h1>
  <% if @user == current_user %>
    <%= link_to "新しく大会を作る", new_tournament_path, class: "btn btn-lg btn-success" %>
    <%= link_to "俺より強い奴に会いに行く", tournaments_path, class: "btn btn-lg btn-primary" %>
  <% end %>

  <!-- ピル部分 -->
  <ul class="nav nav-tabs nav-justified" id="tabs-tab" role="tablist">
    <li class="nav-item">
      <%= link_to "ホーム", "#tabs-home", id: "tabs-home-tab", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-home", "aria-selected" => "true", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "使用キャラクター", "#tabs-profile", id: "tabs-profile-tab", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-profile", class: "nav-link" %>
    </li>
    <% if @user.twitter_private == true %>
      <li class="nav-item">
        <% if @user == current_user %>
          <%= link_to "Twitter情報公開設定中", "#", 'tabindex' => "-1", 'aria-disabled' => "true", class: "nav-link disabled" %>
        <% else %>
          <%= link_to "コンタクト", "#tabs-contact", id: "tabs-contact-tab", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-contact", class: "nav-link" %>
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <% if @user == current_user %>
          <%= link_to "Twitter情報非公開設定中", "#", 'tabindex' => "-1", 'aria-disabled' => "true", class: "nav-link disabled" %>
        <% else %>
          <%= link_to "Twitter情報非公開です。", "#", 'tabindex' => "-1", 'aria-disabled' => "true", class: "nav-link disabled" %>
        <% end %>
      </li>
    <% end %>
    <% if @user == current_user %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          編集 <span class="caret"></span>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "設定", edit_user_path(current_user), remote: true, class: "dropdown-item" %></li>
            <li><%= link_to "使用キャラクター", user_characters_edit_path(@user), remote: true, class: "dropdown-item" %></li>
          </ul>
        </a>
      </li>
    <% end %>
  </ul>
  
  <!-- パネル部分 -->
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade" id="tabs-home" role="tabpanel" aria-labelledby="tabs-home-tab">
      <% if @user.image? %>
        <%= image_tag @user.image.to_s, class: "img-fluid img-thumbnail rounded", :style => "width:200px; height:200px;"  %>
      <% else %>
        <%= image_tag "no-profile-image.png", class: "img-fluid img-thumbnail rounded", :style => "width:200px; height:200px;" %>
      <% end %>
      
      名前：<%= @user.name %>
      紹介：<%= @user.description %>
    </div>
    <div class="tab-pane fade" id="tabs-profile" role="tabpanel" aria-labelledby="tabs-profile-tab">
      <ul class="nav nav-tabs nav-justified" id="tabs-title" role="tablist">
        <li class="nav-item">
          <%= link_to "64", user_title_character_path(user_id: @user, game_title: '0'), remote: true, id: "tabs-title-64", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-title-64", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "DX", user_title_character_path(user_id: @user, game_title: '1'), remote: true, id: "tabs-title-DX", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-title-DX", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "X", user_title_character_path(user_id: @user, game_title: '2'), remote: true, id: "tabs-title-X", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-title-X", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "3DS", user_title_character_path(user_id: @user, game_title: '3'), remote: true, id: "tabs-title-3DS", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-title-3DS", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Wii U", user_title_character_path(user_id: @user, game_title: '4'), remote: true, id: "tabs-title-WiiU", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-title-WiiU", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "SP", user_title_character_path(user_id: @user, game_title: '5'), remote: true, id: "tabs-title-SP", "data-toggle" => "tab", role: "tab", "aria-controls" => "tabs-title-SP", class: "nav-link" %>
        </li>
      </ul>
      
      <div id="title-character"></div>
    </div>

    <div class="tab-pane fade" id="tabs-contact" role="tabpanel" aria-labelledby="tabs-contact-tab">
      <div id="user-contact"></div>
    </div>
  </div>
</div>

<div id="character-edit-page" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="user-edit-page" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<script>
$(function(){
  // 対象とするノードを取得
  const target = document.getElementById('tabs-contact');
  
  // オブザーバの設定
  const config = { attributes: true, childList: true, characterData: true };
  
  // オブザーバインスタンスを作成
  var observer = new MutationObserver((mutations) => {
    mutations.forEach((mutation) => {
      // 一度監視を中止
      observer.disconnect();
      $('#user-contact').html('');
      $('#user-contact').html('<%= escape_javascript( render 'contact', object: @user) %>');
      // 監視再開
      observer.observe(target, config);
    });    
  });
   
  // 対象ノードとオブザーバの設定を渡す
  observer.observe(target, config);
});
</script>