<%= form_with(model: @tournament, local: true) do |f| %>
  <%= render 'shared/error_messages_tournament', object: @tournament %>
  
  <%= f.hidden_field :user_id, :value => current_user.id %>
  
  <div class="form-group">
    <%= f.label :name, class: "label-#{yield(:class_text)}" %>
    <%= f.text_field :name, required: true, class: "form-control", id: "tournament_name" %>
    <p id="tournament_name_count" class="pull-right"></p>
  </div>
  
  <div class="form-group">
    <%= f.label :private, class: "label-#{yield(:class_text)}" %>
    <div class="col-sm-12 btn-group" data-toggle="buttons">
      <% if @tournament.private %>
        <label class="btn btn-outline-warning btn-secondary" style="width:50%">
          <%= f.radio_button :private, false, checked: false %> 公開
        </label>
        <label class="btn btn-outline-warning btn-secondary active" style="width:50%">
          <%= f.radio_button :private, true, checked: true %> 非公開
        </label>
      <% else %>
        <label class="btn btn-outline-warning btn-secondary active" style="width:50%">
          <%= f.radio_button :private, false, checked: true %> 公開
        </label>
        <label class="btn btn-outline-warning btn-secondary" style="width:50%">
          <%= f.radio_button :private, true, checked: false %> 非公開
        </label>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :game_title, class: "label-#{yield(:class_text)}" %>
    <% if controller.action_name == ('new' || 'create') %>
      <%= f.select :game_title, Tournament.game_titles.keys.to_a, {}, class: "form-control" %>
    <% else %>
      <%= f.select :game_title, Tournament.game_titles.keys.to_a, {}, value: @tournament.game_title, class: "form-control" %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.label :url, class: "label-#{yield(:class_text)}" %>
    <% if controller.action_name == 'new' || controller.action_name == 'create' %>
      <%= f.text_field :url, value: (0...8).map{ ('a'..'z').to_a[rand(26)] }.join, required: true, class: "form-control", id: "tournament_url" %>
    <% else %>
      <%= f.text_field :url, value: @challonge['tournament']['url'], required: true, class: "form-control", id: "tournament_url" %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.label :description, class: "label-#{yield(:class_text)}" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  
  <% if controller.action_name == 'new' || controller.action_name == 'create' # 新規作成 %>
    <div class="form-group" id="normal-tournament">
      <%= f.label :elimination_type, class: "label-#{yield(:class_text)}" %>
      <%= f.select :elimination_type, options_for_select([["シングルイリミネーション","single elimination"],["ダブルイリミネーション","double elimination"],["総当たり戦", "round robin"]]), {}, id: "elimination", class: "form-control" %>
    </div>
    
    <div id="selected-single" style="display:none">
      <%= f.check_box :hold_third_place_match %><span>3位決定戦を行う</span>
    </div>
    <div class="radio-group" id="selected-double" style="display:none">
      <%= f.radio_button :grand_finals_modifier, nil, :checked => true %><span> 1-2マッチ — ルーザーズの勝者はウィナーズの勝者から2回勝利しなければいけません</span><br>
      <%= f.radio_button :grand_finals_modifier, "single match" %><span>1マッチ</span><br>
      <%= f.radio_button :grand_finals_modifier, "skip" %><span>無し</span>
    </div>
    <div id="selected-robin" style="display:none">
      <%= f.label "順位付け方法" %>
      <%= f.select :ranked_by, options_for_select([["マッチ勝数","match wins"], ["ゲームもしくはセットの勝数","game wins"], ["合計得点","points scored"], ["得失点差","points difference"], ["カスタム（ポイントシステム）","custom"]]), {}, id: "tournament_ranked_by", class: "form-control" %>
      <div id="robin-custom" class="form-row my-2">
        <div class="col-lg-3 col-6">
          <%= f.number_field :rr_pts_for_match_win, step: "0.1", value: 1.0, class: "form-control" %>
          <%= f.label "ポイント（マッチ勝利毎に）" %>
        </div>
        <div class="col-lg-3 col-6">
          <%= f.number_field :rr_pts_for_match_tie, step: "0.1", value: 0.5, class: "form-control" %>
          <%= f.label "ポイント（マッチのタイ毎に）" %>
        </div>
        <div class="col-lg-3 col-6">
          <%= f.number_field :rr_pts_for_game_win, step: "0.1", value: 0.0, class: "form-control" %>
          <%= f.label "ポイント（ゲームもしくはセットの勝利毎に）" %>
        </div>
        <div class="col-lg-3 col-6">
          <%= f.number_field :rr_pts_for_game_tie, step: "0.1", value: 0.0, class: "form-control" %>
          <%= f.label "ポイント（ゲームもしくはセットのタイ毎に）" %>
        </div>
      </div>
    </div>
    
    <%= f.label :start_time, class: "label-#{yield(:class_text)}" %>
    <div class="input-group" data-target-input="nearest">
      <%= f.text_field :start_time, required: true, id: "start_time", class: "form-control datepicker", placeholder: "アイコンから入力", data: {target: "#start_time"} %>
      <div class="input-group-append" data-target="#start_time" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
    
    <%= f.submit "新規作成", class: "btn btn-secondary btn-block btn-#{yield(:class_text)} my-2",
                             id: "tournament_edit" %>
  <% else # 編集時 %>
    <div class="form-group" id="normal-tournament">
      <%= f.label :elimination_type, class: "label-#{yield(:class_text)}" %>
      <% unless @started %>
        <%= f.select :elimination_type, options_for_select([["シングルイリミネーション","single elimination"], ["ダブルイリミネーション","double elimination"], ["総当たり戦", "round robin"]], :selected => @challonge["tournament"]["tournament_type"]), {}, id: "elimination", class: "form-control" %>
      <% else %>
        <%= f.select :elimination_type, options_for_select([["シングルイリミネーション","single elimination"], ["ダブルイリミネーション","double elimination"], ["総当たり戦", "round robin"]], :selected => @challonge["tournament"]["tournament_type"]), {}, disabled: true, id: "elimination", class: "form-control" %>
      <% end %>
    </div>
    
    <% unless @started %>
      <div id="selected-single" style:"display:none">
        <%= f.check_box :hold_third_place_match, {:checked => @challonge["tournament"]["hold_third_place_match"]} %><span>3位決定戦を行う</span>
      </div>
      <div class="radio-group" id="selected-double" style="display:none">
        <%= f.radio_button :grand_finals_modifier, nil, :checked => true %><span> 1-2マッチ — ルーザーズの勝者はウィナーズの勝者から2回勝利しなければいけません</span><br>
        <%= f.radio_button :grand_finals_modifier, "single match" %><span>1マッチ</span><br>
        <%= f.radio_button :grand_finals_modifier, "skip" %><span>無し</span>
      </div>
      <div id="selected-robin" style="display:none">
        <%= f.label "順位付け方法" %>
        <%= f.select :ranked_by, options_for_select([["マッチ勝数","match wins"], ["ゲームもしくはセットの勝数","game wins"], ["合計得点","points scored"], ["得失点差","points difference"], ["カスタム（ポイントシステム）","custom"]], :selected => @challonge["tournament"]["ranked_by"]), {}, id: "tournament_ranked_by", class: "form-control" %>
        <div id="robin-custom" class="form-row my-2">
          <div class="col-lg-3 col-6">
            <%= f.number_field :rr_pts_for_match_win, step: "0.1", value: @challonge["tournament"]["rr_pts_for_match_win"], class: "form-control" %>
            <%= f.label "ポイント（マッチ勝利毎に）" %>
          </div>
          <div class="col-lg-3 col-6">
            <%= f.number_field :rr_pts_for_match_tie, step: "0.1", value: @challonge["tournament"]["rr_pts_for_match_tie"], class: "form-control" %>
            <%= f.label "ポイント（マッチのタイ毎に）" %>
          </div>
          <div class="col-lg-3 col-6">
            <%= f.number_field :rr_pts_for_game_win, step: "0.1", value: @challonge["tournament"]["rr_pts_for_game_win"], class: "form-control" %>
            <%= f.label "ポイント（ゲームもしくはセットの勝利毎に）" %>
          </div>
          <div class="col-lg-3 col-6">
            <%= f.number_field :rr_pts_for_game_tie, step: "0.1", value: @challonge["tournament"]["rr_pts_for_game_tie"], class: "form-control" %>
            <%= f.label "ポイント（ゲームもしくはセットのタイ毎に）" %>
          </div>
        </div>
      </div>
      
      <%= f.label :start_time, class: "label-#{yield(:class_text)}" %>
      <div class="input-group" data-target-input="nearest">
        <%= f.text_field :start_time, required: true, id: "start_time", class: "form-control datepicker", placeholder: "アイコンから入力", data: {target: "#start_time"} %>
        <div class="input-group-append" data-target="#start_time" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
    <% else %>
      <div id="selected-single" style:"display:none">
        <%= f.check_box :hold_third_place_match, {:checked => @challonge["tournament"]["hold_third_place_match"], :disabled => true} %><span>3位決定戦を行う</span>
      </div>
      <div class="radio-group" id="selected-double" style="display:none">
        <%= f.radio_button :grand_finals_modifier, nil, :disabled => true %><span> 1-2マッチ — ルーザーズの勝者はウィナーズの勝者から2回勝利しなければいけません</span><br>
        <%= f.radio_button :grand_finals_modifier, "single match", :disabled => true %><span>1マッチ</span><br>
        <%= f.radio_button :grand_finals_modifier, "skip", :disabled => true %><span>無し</span>
      </div>
      <div id="selected-robin" style="display:none">
        <%= f.label "順位付け方法" %>
        <%= f.select :ranked_by, options_for_select([["マッチ勝数","match wins"], ["ゲームもしくはセットの勝数","game wins"], ["合計得点","points scored"], ["得失点差","points difference"], ["カスタム（ポイントシステム）","custom"]], :selected => @challonge["tournament"]["ranked_by"]), {}, disabled: true, id: "tournament_ranked_by", class: "form-control" %>
        <div id="robin-custom" style="display:none">
          <%= f.number_field :rr_pts_for_match_win, disabled: true, value: @challonge["tournament"]["rr_pts_for_match_win"], class: "form-control" %>
          <%= f.label "ポイント（マッチ勝利毎に）" %>
          
          <%= f.number_field :rr_pts_for_match_tie, disabled: true, value: @challonge["tournament"]["rr_pts_for_match_tie"], class: "form-control" %>
          <%= f.label "ポイント（マッチのタイ毎に）" %>
          
          <%= f.number_field :rr_pts_for_game_win, disabled: true, value: @challonge["tournament"]["rr_pts_for_game_win"], class: "form-control" %>
          <%= f.label "ポイント（ゲームもしくはセットの勝利毎に）" %>
          
          <%= f.number_field :rr_pts_for_game_tie, disabled: true, value: @challonge["tournament"]["rr_pts_for_game_tie"], class: "form-control" %>
          <%= f.label "ポイント（ゲームもしくはセットのタイ毎に）" %>
        </div>
      </div>
      
      <%= f.label :start_time, class: "label-#{yield(:class_text)}" %>
      <div class="input-group" data-target-input="nearest">
        <%= f.text_field :start_time, disabled: true, id: "start_time", class: "form-control datepicker", placeholder: "アイコンから入力", data: {target: "#start_time"} %>
        <div class="input-group-append" data-target="#start_time" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
      </div>
    <% end %>
    <%= f.submit "更新", class: "btn btn-secondary btn-block btn-#{yield(:class_text)} my-2",
                         id: "tournament_edit" %>
  <% end %>
<% end %>

<script>
  $(function () {
    //$('#tournament_edit').prop("disabled", true);
    $('form input:required').each(function () {
      $(this).prev("label").addClass("required");
    });
    const limit = 50;
    var name_count = $('#tournament_name').val().length;
    //残りの入力できる文字数を計算
    var now_name_count = limit - name_count;
    //文字数がオーバーしていたら文字色を赤にする

    if (name_count > limit || name_count == 0) {
      if (name_count > limit) {
        //残りの入力できる文字数を表示
        $("#tournament_name_count").text( "残り" + now_name_count + "文字");
      } else if (name_count == 0) {
        $("#tournament_name_count").text("入力してください。");
      }
      $("#tournament_name_count").css("color","red");
    } else {
      $("#tournament_name_count").text( "残り" + now_name_count + "文字");
    }
    
    $('form input:required').on('input', function () {
      //必須項目が空かどうかフラグ
      let flag = true;
      
      var name_count = $("#tournament_name").val().length;
      var now_name_count = limit - name_count;
  
      if (name_count > limit || name_count == 0) {
        if (name_count > limit) {
          $("#tournament_name_count").text( "残り" + now_name_count + "文字");
        } else if (name_count == 0) {
          $("#tournament_name_count").text("入力してください");
        }
        $("#tournament_name_count").css("color","red");
        flag = false;
      } else {
        $("#tournament_name_count").text( "残り" + now_name_count + "文字");
        $("#tournament_name_count").css("color","white");
      }
      
      var url_text = $("#tournament_url").val();
      if (!url_text.match(/^[A-Za-z0-9\s._]+$/)) {
        alert('URLに使用できるのは半角英数字とアンダーバーのみです。');
        flag = false;
      } 
      
      var start_time_at = $("#start_time").val();
      if (!start_time_at.match(/^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$/)) {
        flag = false;
      }
      
      if (flag) {
        $("#tournament_edit").prop('disabled', false);
      } else {
        $("#tournament_edit").prop('disabled', true);
      }
    });

    $('.datepicker').datetimepicker({
      format: 'YYYY-MM-DD HH:mm:00'
    });

    var elimination_type = $('#elimination').val();
    switch (elimination_type) {
      case 'single elimination':
        $('#selected-single').show('slow');
        $('#selected-double').hide('slow');
          $('#selected-robin').hide('slow');
        break;
      case 'double elimination':
        $('#selected-single').hide('slow');
        $('#selected-double').show('slow');
        $('#selected-robin').hide('slow');
        break;
      case 'round robin':
        $('#selected-single').hide('slow');
        $('#selected-double').hide('slow');
        $('#selected-robin').show('slow');
        break;
    }

    $('#elimination').change(function() {
      elimination_type = $('#elimination').val();
      switch (elimination_type) {
        case 'single elimination':
          $('#selected-single').show('slow');
          $('#selected-double').hide('slow');
          $('#selected-robin').hide('slow');
          break;
        case 'double elimination':
          $('#selected-single').hide('slow');
          $('#selected-double').show('slow');
          $('#selected-robin').hide('slow');
          break;
        case 'round robin':
          $('#selected-single').hide('slow');
          $('#selected-double').hide('slow');
          $('#selected-robin').show('slow');
          break;
      }
    });

    var ranked_by = $('#tournament_ranked_by').val();
    if (ranked_by == 'custom') {
      $('#robin-custom').show('slow');
    } else {
      $('#robin-custom').hide('slow');
    }
    
    $('#tournament_ranked_by').change(function() {
      var ranked_by = $('#tournament_ranked_by').val();
      if (ranked_by == 'custom') {
        $('#robin-custom').show('slow');
      } else {
        $('#robin-custom').hide('slow');
      }
    });
  });
</script>