<%= form_with(model: @tournament, local: true) do |f| %>
<%#= form_with(url: 'https://api.challonge.com/v1/tournaments', method: :post) do |f| %>
  <%= render 'shared/error_messages_tournament', object: @tournament %>
  
  <%= f.hidden_field :master, :value => current_user.id %>
  <div class="form-group">
    <%= f.label :name, class: "label-#{yield(:class_text)}" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  
  <div class="form-group">
      <%= f.label :private, class: "label-#{yield(:class_text)}" %>
    <div class="col-sm-12 btn-group" data-toggle="buttons">
      <label class="btn btn-outline-secondary btn-success active" style="width:50%">
        <%= f.radio_button :private, true, checked: true %> 公開
      </label>
      <label class="btn btn-outline-secondary btn-success" style="width:50%">
        <%= f.radio_button :private, false, {} %> 非公開
      </label>
    </div>
  </div>

　<div class="form-group">
    <%= f.label :game_title, class: "label-#{yield(:class_text)}" %>
    <%= f.select :game_title, options_for_select([["ニンテンドウオールスター！大乱闘スマッシュブラザーズ","Super Smash Bros."], ["大乱闘スマッシュブラザーズDX","Super Smash Bros. Melee"], ["大乱闘スマッシュブラザーズX", "Super Smash Bros. Brawl"], ["大乱闘スマッシュブラザーズ for Nintendo 3DS", "Super Smash Bros. for 3DS"], ["大乱闘スマッシュブラザーズ for Wii U", "Super Smash Bros. for Wii U"], ["大乱闘スマッシュブラザーズ SPECIAL", "Super Smash Bros. Ultimate"]]), {:include_blank => true}, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :url, class: "label-#{yield(:class_text)}" %>
    <%= f.text_field :url, value: (0...8).map{ ('a'..'z').to_a[rand(26)] }.join, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :description, class: "label-#{yield(:class_text)}" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  
  <%= f.label :group_stage_enabled, class: "label-#{yield(:class_text)}" %>
  <div class="radio">
    <label><%= f.radio_button :group_stage_enabled, false, :value => false, :checked => true, :onclick => "tournament_type();", class: "radio-control" %><span>通常の形式　</span></label>
    <label><%= f.radio_button :group_stage_enabled, true, :value => true, :disabled => true, :onclick => "tournament_type();", class: "radio-control" %><span>2ステージトーナメント【API仕様により選択不可】</span></label>
  </div>
  
  <div class="form-group" id="normal-tournament">
    <%= f.label :elimination_type, class: "label-#{yield(:class_text)}" %>
    <%= f.select :elimination_type, options_for_select([["シングルイリミネーション","single elimination"],["ダブルイリミネーション","double elimination"],["総当たり戦", "round robin"]]), {}, class: "form-control" %>
    <%= f.check_box :hold_third_place_match %><span>3位決定戦を行う</span>
  </div>

  <%= f.label :start_time, class: "label-#{yield(:class_text)}" %>
  <div class="input-group" data-target-input="nearest">
    <%= f.text_field :start_time, id: "start_time", class: "form-control datepicker", data: {target: "#start_time"} %>
    <div class="input-group-append" data-target="#start_time" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)} my-2" %>
<% end %>

<script>
  $(function () {
    $('.datepicker').datetimepicker({
      format: 'YYYY-MM-DD HH:mm:00'
    });
  });
</script>