<% provide(:title, "トーナメント一覧") %>
<% provide(:class_text, 'tournament-index') %>
<% provide(:button_text, "一覧") %>
<h1>トーナメント一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-hover" id="table-users">
    <thead>
      <tr>
        <th colspan="4"><%= Tournament.human_attribute_name :name %></th>
        <th colspan="4"><%= Tournament.human_attribute_name :master %></th>
        <th colspan="2"><%= Tournament.human_attribute_name :start_time %></th>
        <th colspan="2"><%= Tournament.human_attribute_name :status %></th>
      </tr>
    </thead>
    
    <tbody>
      <% @tournaments.each do |tournament| %>
        <% master = master_tournament(tournament) %>
        <tr>
          <td colspan="4"><%= link_to tournament.name, tournament %></td>
          <td colspan="4"><%= link_to image_tag(master.image.to_s, class: "img-fluid img-thumbnail rounded", :style => "width:100px; height:100px; margin:5px"), master %><%= link_to master.name, master %></td>
          <td colspan="2"><%= l(tournament.start_time, format: :short) %></td>
          <td colspan="2"><%= tournament.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>