<% provide(:title, @tournament.name) %>
<div>
  <% if logged_in? %>
  <% if master?(@tournament) == true || Participant.find_by(tournament_id: @tournament.id, user_id: current_user.id).nil? %>
    <section class="my-2">
      <div class="accordion border" id="accordion" role="tablist" aria-multiselectable="true">
        <% unless @started %>
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a class="text-body" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
                  <button type="button" class="btn btn-secondary">
                    <% if master?(@tournament) %>
                      参加者を追加する
                    <% else %>
                      大会に参加する
                    <% end %>
                  </button>
                </a>
              </h5>
            </div><!-- /.card-header -->
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <% if master?(@tournament) #開催者用追加フォーム %>
                  <%= form_with(model: @participant, url: tournament_creates_path(@tournament), method: :post) do |f| %>
                    <%= select_tag :players, options_from_collection_for_select(@not_yet_users, :id, :name), multiple: true, class: "form-control search_participants" %>
                    <%= f.submit "参加者追加", class: "btn btn-secondary btn-block btn-login" %>
                  <% end %>
                <% else #参加者用追加フォーム %>
                  <%= form_with(model: @participant, url: tournament_participants_path(@tournament), method: :post) do |f| %>
                    <%= hidden_field_tag :players, current_user.id %>
                    <%= f.submit "この大会に参加する", data: { confirm: "大会に参加しますか？" }, class: "btn btn-secondary btn-block btn-login" %>
                  <% end %>
                <% end %>
              </div><!-- /.card-body -->
            </div><!-- /.collapse -->
          </div><!-- /.card -->
        <% end %>
        <% if master?(@tournament) %>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed text-body" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                  <button type="button" class="btn btn-secondary">一括送信</button>
                </a>
              </h5>
            </div><!-- /.card-header -->
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <%= form_with(model: @message, url: user_messages_creates_path(current_user), local: true, method: :post) do |f| %>
              
                  <%= f.hidden_field :user_id, value: master_tournament(@tournament).id %>
                  <%= hidden_field_tag :tournament_id, @tournament.id %>
                  
                  <%= f.label "宛先" %>
                  <%= select_tag :user_to, options_from_collection_for_select(return_users_from_participants(@participants), :id, :name), include_blank: true, multiple: true, class: "form-control search_participants"%>
              
                  <%= f.label "本文" %>
                  <%= f.text_area :text, class: "form-control" %>
                  
                  <%= f.submit "メッセージを送信する", class: "btn btn-secondary btn-block btn-login" %>
                <% end %>
              </div><!-- /.card-body -->
            </div><!-- /.collapse -->
          </div><!-- /.card -->
          
          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed text-body" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                  <button type="button" class="btn btn-secondary">大会メニュー</button>
                </a>
              </h5>
            </div><!-- /.card-header -->
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <div class="row justify-content-around">
                  <% unless @started %>
                    <%= link_to "参加者を全て取り消す", tournament_participants_clear_path(@tournament), method: :delete, data: { confirm: "取り消ししてよろしいですか？" }, class: "btn btn-lg btn-warning m-1" %>
                    <%= link_to "参加者を並び替る", tournament_randomize_path(@tournament), data: { confirm: "並び替えてもいいですか？" }, class: "btn btn-lg btn-secondary m-1" %>
                    <% if @participants.count >= 2 %>
                      <%= link_to "大会を始める", tournament_start_path(@tournament), method: :get, data: { confirm: "大会を始めてもいいですか？" }, class: "btn btn-lg btn-success m-1" %>
                    <% end %>
                  <% else %>
                    <%= link_to "大会をやり直す", tournament_reset_path(@tournament), method: :get, data: { confirm: "大会をやり直してもいいですか？" }, class: "btn btn-lg btn-warning m-1" %>
                    <% if @challonge["tournament"]["state"] == "awaiting_review" %>
                      <%= link_to "大会を終了する", tournament_finalize_path(@tournament), method: :get, data: { confirm: "大会を終了させてもいいですか？" }, class: "btn btn-lg btn-success m-1" %>
                    <% end %>
                  <% end %>
                  <%= link_to "大会を削除する", tournament_path, method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-lg btn-danger m-1" %>
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.collapse -->
          </div><!-- /.card -->
          <div class="card">
            <div class="card-header" role="tab" id="headingFour">
              <h5 class="mb-0">
                <a class="collapsed text-body" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">
                  <button type="button" class="btn btn-secondary">オプション</button>
                </a>
              </h5>
            </div><!-- /.card-header -->
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <div class="col-md-8 offset-md-2">
                  <%= render 'form' %>
                </div>
              </div><!-- /.card-body -->
            </div><!-- /.collapse -->
          </div><!-- /.card -->
        <% end %>
      </div><!-- /#accordion -->
    </section>
  <% end %>
  <% end %><!-- logged_in? -->
  
  <div class="title"><%= @tournament.name %></div>
  <p><%= @tournament.description %></p>
  <div class="sub-title"><%= @tournament.game_title %></div>
  
  <div class="container-fluid">
    <div class="row justify-content-start">
      <div class="<%= @tournament.status == '完了' ? 'col-12' : 'col-lg-8' %> bg-light border">
        <% if @participants.count >= 2 %>
          <%= link_to image_tag(@challonge["tournament"]["live_image_url"], :width => "100%"), @challonge["tournament"]["full_challonge_url"], target: :_blank %>
        <% else %>
          <p class="text-dark">
          <% if master?(@tournament) %>
            参加者は最低2人設定してください。
          <% else %>
            有効な人数が揃っていません。
          <% end %>
          </p>
        <% end %>
      </div>
      <% unless @tournament.status == '完了' %>
      <div class="col-lg-4 bg-dark border" id="toggle-matches-opening-or-complete">
        <div class="row justify-content-between m-1">
          <span>現在開催中のマッチ</span><p><%= link_to "終了", tournament_toggle_path(@tournament, :state => 'complete'), remote: true, class: "btn btn-secondary" %></p>
        </div>
        <div class="d-none d-lg-block"><!-- 画面幅lg以上で表示 -->
          <% if !@matches_opening.blank? %>
            <% @matches_opening.each do |matches| %>
              <%= return_user_from_participant(matches["match"]["player1_id"]).name + " vs " + return_user_from_participant(matches["match"]["player2_id"]).name + "  " %>
              <%= link_to "報告", tournament_report_path(@tournament, matches), remote: true, class: "btn btn-warning mb-2" if master_or_party?(@tournament, matches["match"]["player1_id"], matches["match"]["player2_id"]) %><br>
            <% end %>
          <% else %>
            <p>なし</p>
          <% end %>
        </div>
        <div class="d-lg-none"><!-- 画面幅lg未満で表示 -->
          <div class="container-fluid">
            <div class="row justify-content-between">
              <% if !@matches_opening.blank? %>
                <% @matches_opening.each do |matches| %>
                  <div class="col-6">
                    <%= return_user_from_participant(matches["match"]["player1_id"]).name + " vs " + return_user_from_participant(matches["match"]["player2_id"]).name + "  " %>
                    <%= link_to "報告", tournament_report_path(@tournament, matches), remote: true, class: "btn btn-warning mb-2" if master_or_party?(@tournament, matches["match"]["player1_id"], matches["match"]["player2_id"]) %>
                  </div>
                <% end %>
              <% else %>
                <p>なし</p>
              <% end %>
            </div>
          </div>
        </div><!-- d-lg-none 画面幅lg未満で表示 -->
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="bg-dark my-1 p-1 border">
    <div class="row justify-content-between m-1">
      <div class="m-1">
        <%= will_paginate @participants_search %>
        <span class="m-2 font-weight-bold">
          <% if params[:search].blank? %>
            参加者一覧
          <% else %>
            検索結果
          <% end %>
        </span>
      </div>
      <div class="m-1">
        <p>ユーザ検索</p>
        <%= form_tag(tournament_path, :method => 'get') do %>
          <div class="d-flex flex-row">
            <%= text_field_tag :search , nil, :class => "form-control" %>
            <%= submit_tag '検索', :name => nil, :class => 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
    </div>
    
    <% if !@participants_search.blank? %>
      <% @participants_search.each do |participant| %>
        <div class="bg-dark border m-2 clearfix">
          <div class="row p-1">
            <div class="col-3 col-md-2 flex-column align-self-start text-nowrap">
              <div><%= image_tag participant_to_user(participant).image.to_s, class: "img-fluid img-thumbnail rounded m-1", :style => "max-width:60px;" %></div>
              <div>
              <% if logged_in? %>
                <%= link_to participant_to_user(participant).name, participant_to_user(participant), class: "font-weight-bold text-reset" %>
              <% else %>
                <%= participant_to_user(participant).name %>
              <% end %>
              </div>
            </div>
            <div class="col-6 col-md-8 d-flex align-items-center">
              <div class="d-none d-sm-block col-12">
              <% unless @tournament.status == '完了' %>
                <% if master?(@tournament) %>
                  <%= form_with(model: @message, url: user_messages_path(current_user), local: true, method: :post) do |f| %>
                    <%= hidden_field_tag :path, request.path %>
                    <%= f.hidden_field :user_id, value: master_tournament(@tournament).id %>
                    <%= hidden_field_tag :user_to, participant.user_id %>
                    <div class="d-flex justify-content-center">
                      <%= f.text_field :text, placeholder: "入力してください", class: "form-control" %>
                      <%= f.submit "送信", class: "btn btn-secondary" %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              </div>
            </div>
            <div class="col-3 col-md-2 d-flex flex-row-reverse align-items-center float-right">
              <% unless @tournament.status == '完了' %>
                <% if master?(@tournament) %>
                  <div class="">
                  <%= link_to "削除", tournament_participant_path(@tournament, participant), method: :delete,
                      data: { confirm: "削除してよろしいですか？" },
                      class: "btn btn-danger" %>
                  </div>
                <% end %>
              <% else %>
                <p class="show-ranking font-weight-bold font-italic m-2">
                  <% if rank = participant.ranking %>
                    <%= rank.ordinalize %>
                  <% else %>
                    <%= @participants.count.ordinalize %>
                  <% end %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="text-center">なし</div>
    <% end %>
    <div class="m-2">
    <%= will_paginate @participants_search %>
    </div>
  </div>
</div>
  
<div id="report-match" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<script>
  $(document).ready(function() {
    $('.search_participants').val(<%= return_user_id_from_participant(@participants) %>);
    $('.search_participants').trigger('change');
  });
</script>