<% provide(:title, "使用キャラクター登録") %>
<h1>使用キャラクター登録</h1>

<div class="row">
  <div class="col-md-12 col-md-offset-0">
    <%= form_with(model: @character, url: user_characters_path, local: true, method: :post) do |f| %>
      <%= render 'shared/error_messages_character', object: @character %>
      
      <%= f.label :game_title %>
      <%= f.select :game_title, Character.game_titles.keys.to_a, { prompt: '選択してください' }, id: 'game_title', data: {remote: true, url: select_title_path}, class: "form-control" %>

      <%= f.label "メインキャラ" %>
      <div id="main-character"></div>
      
      <%= f.label "サブキャラ（3キャラまで）" %>
      <div id="sub-characters"></div>
      
      <%= f.submit "キャラ追加", class: "btn btn-primary btn-block btn-login" %>
    <% end %>
    
  </div>
</div>

<script>
/*
  $('#select-character').on("click", function() {
    $(".image-picker").imagepicker({
      show_label  : true
    })
  });
  */
/*
  // 子要素の追加を監視
  var plugin = function (el) {
    // dummy
    el.textContent += ':plugin applied.';
  };
  var callback = function (e) {
    // 追加されたノードはe[0].addedNodesに入っている
    var added = e[0].addedNodes;
    // プラグイン適用
    for (var i = 0; i < added.length; i++) {
      plugin(added[i]);
    }
  };
  */
  $('body').on("mouseenter", function() {
    $("#main-character").find(".image-picker").imagepicker();
    $("#sub-characters").find(".image-picker").imagepicker({limit: 3, limit_reached: function(){alert('選べるのは3キャラまでです。')}});
  });
  
</script>