<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <!-- HTML shimがこの1行で収まる -->
    <%= render 'layouts/shim' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- 以下3つが横から出てくるハンバーガーメニューのプラグイン -->
    <!-- drawer.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
    <!-- iScroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <!-- drawer.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    
    <style type="text/css">
	    <!--
	      body {
	        background-color: #223;
	        color: #fff;
	      }
	      
	      div.modal-content, select {
          background-color: #223;
          color: #fff;
        }
        
        /* form-control */
        .form-control:valid {
          background-color: #223!important;
          color: #fff;
        }
        
        .form-control:invalid {
          background-color: rgba(255, 0, 0, 0.25)!important;
          color: #fff;
        }
        
	  </style>
  </head>

  <body class="drawer drawer--right">
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, msg| %>
        <div class="alert alert-<%= message_type %>"><%= msg %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <div class="my-5"></div>
  </body>
  
</html>